[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Setxkbmap US Altgr-Intl

# A comment which can/will be used as a tooltip
Comment=Setxkbmap US Altgr-Intl

# The path to the folder in which the executable is run
Path=/home/cewood/local/bin

# The executable of the application, possibly with arguments.
Exec=setxkbmap us altgr-intl

# The name of the icon that will be used to display this entry
Icon=setxkbmap

# Describes whether this application needs to be run in a terminal or not
Terminal=true

# Describes the categories in which this entry should be shown
Categories=Setxkbmap;Keyboard;Layout;
