[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Xss-lock Disable

# A comment which can/will be used as a tooltip
Comment=Disable Xss-lock

# The path to the folder in which the executable is run
Path=/home/cewood/local/bin

# The executable of the application, possibly with arguments.
Exec=xss-lock-set.sh off

# The name of the icon that will be used to display this entry
Icon=xss-lock

# Describes whether this application needs to be run in a terminal or not
Terminal=true

# Describes the categories in which this entry should be shown
Categories=Locker;Screen Saver;Xss-lock;
