[Unit]
Description=blueman-applet
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/blueman-applet
Restart=always

[Install]
WantedBy=xsession.target
